<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="./in.js">
</head>
<body>
    <div class="signin">
        <form action="">
            <h2 style="color: white;">Log In</h2>
            <input type="text" name="username" placeholder="Unsername">
            <input type="password" name="pass" id="" placeholder="Password">
            <a href="cong.html"><input type="button" value="Log In"></a><br>
            <br>
            <div class="container">
                <a href="#" style="margin-right: 0px; font-size: 13px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Reset password&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a href="#" style="margin-right: 0px; font-size: 13px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> Forgot password</a>
            </div><br><br><br><br><br>
            Don't have account?<a href="/register.hbs">&nbsp;Sign Up</a>
            <br>
            <br>
            <a href='../index.html' class='back'>Back to home</a>
        </form>
    </div>
    
</body>
</html>