<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/signup.css">
</head>
<body>

    <div class="signup">
        <form action="">
            <h2 style="color: #fff;">Sign Up</h2>
            <input type="text" name="username" placeholder="First name"><br><br>
            <input type="text" name="username" placeholder="Last name"><br><br>
            <input type="password" name="pass" placeholder="Password"><br><br>
            <input type="password" name="pass" placeholder="Confirm Password"><br><br>
            <input type="text" name="email" placeholder="Email address"><br><br>
            <input type="button" value="Sign Up"><br><br>
           <div id="msg"></div>
           you already have account?<a href="index.html">&nbsp; Log In</a>
           <br>
           <br>
           <a href='../index.html' class='back'>Back to home</a>

        </form>
    </div>
    
</body>
</html>